.home-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #dbeafe, #78e196);
}

.home-content {
  text-align: center;
  color: #075f34;
}

.home-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
